.lead__fig-container {
    margin: 64px 0 0 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .lead__fig-container {
        margin-top: 56px;
    }
}

@media screen and (max-width: 540px) {
    .lead__fig-container {
        margin-top: 40px;
    }
}
