.lead__title {
    max-width: 720px;
    width: 100%;
    font-size: 96px;
    font-weight: 900;
    line-height: 104%;
    text-align: center;
    overflow: hidden;
}

@media screen and (max-width: 540px) {
    .lead__title {
        font-size: 48px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 30px;
        max-width: 288px;
        line-height: 110%;
    }
}
