.navigation {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    column-gap: 18px;
}

@media screen and (max-width: 540px) {
    .navigation {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, min-content);
        row-gap: 32px;
    }
}
