.place {
    padding-bottom: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
        "title url"
        "img ."
        "img ."
        "img .";
    grid-column-gap: 40px;
}

.place:last-of-type {
    padding-bottom: 0;
}
