.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: (100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 500px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
        align-items: flex-start;
    }
}
