.content__lead {
    padding: 0 148px;
}

@media screen and (max-width: 1024px) {
    .content__lead {
        padding: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .content__lead {
        padding: 0;
    }
}
